.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    float: right;

}

li.navigate-bar {
    float: right;
}

li a {
    display: block;
    color: #8b8b8b;;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: snow;
}

.welcome {
    padding-right: 744px;
    color: #8b8b8b;
    font-weight: bold;
}

.listen-and-write {
    vertical-align: middle;
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    padding-left: 36px;
}

ul.menu-bar {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;

}

li.menu a:hover:not(.active) {
    background-color: blue;
}

.audio{
    padding-left: 32px;
}

.text-area{
    padding-top: 20px;
    padding-left: 32px;
}

.button-x{
    float: right;
    padding-right: 529px;
    padding-top: 4px;
}

.child-button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.transcription{
    float:right;
    padding-right: 61px;

}

.input-area{
    float:left;
    padding-left: 24px;
}

textarea {
    /*width: 300px;*/
    height: 150px;
}

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    /*background-color: rgba(0, 0, 0, 0.4); !* Black w/ opacity *!*/
    background-color: white; /* Black w/ opacity */
    -webkit-filter: opacity(0.9);
    /*filter: opacity(.2);*/
}

/* Modal Content/Box */

.modal-content {
    /*background-color: #fefefe;*/
    /*background-color: #999999;*/
    /*-webkit-filter: blur(1px);*/
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    /*filter: blur(1px);*/
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

#search_box {
    border-bottom: 1px solid black ;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin-left: 236px;
    margin-top: 17px;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 25px;
    display: inline-block;
    white-space: nowrap;
    color: black;
}

#close {
    margin-top: -163px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 537px
}

#search {
    margin-left: 1000px;
    margin-top: 17px;
    margin-bottom: 10px
}