table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.row-title{
    border:none;
    text-align: right;
    background-color: #ffffff;
    width: 35%;
    font-size: 18px;
    font-weight: bold;
    line-height: 4.0;

}
.row-add{
    border:none;
    padding-left: 30px;
    background-color: #ffffff;
}

#submit-add-exercise{
    float: right;
    height: 50px;
    font-size: 20px;
    width: 120px;
    color: white;
    background-color: #e20101;
    border-color: transparent;
    cursor: pointer;
}
#submit-add-exercise:hover{
    background-color: #be0000;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label{
    display: block;
    cursor: pointer;
    padding: 5px;
    border-bottom: none;
    border: transparent;
}

label:hover{
    color: #41bdea;
    font-weight: bold;
}

label.last{
    border-bottom: 1px solid #fff;
}

.action >ul li{
    padding: 5px;
    cursor: pointer;
}
.action >ul li:hover{
    color: #000000;
    font-weight: bold;
}


input[type="checkbox"]{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
    transition: transform .2s;
}

/*input[type="checkbox"]:checked ~ ul{*/
    /*height: 100%;*/
    /*transform-origin: top;*/
    /*transition: transform .25s ease-out;*/
    /*transform: scaleY(1);*/
/*}*/

/*input[type="checkbox"]:checked + label{*/
    /*color: #41bdea;*/
    /*font-weight: bold;*/
/*}*/

